*
{
  margin: 0;
  background-color: rgb(213,225,239);
}
.home{
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 20%;
  height: 430px;
  border-radius: 20px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.home_barcode{
  margin-left: auto;
  margin-right: auto;
width: 90%;
margin-top: 16px;
  border-radius: 20px;
}
.home_text1{
  margin-left: auto;
  margin-right: auto;
  background-color: inherit;
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
  width: 90%;

}
.home_text2{
  margin-left: auto;
  margin-right: auto;
  color: gray;
  background-color: inherit;
  font-family: 'Outfit', sans-serif;
  font-weight: 100;
  margin-top: 15px;
  width: 80%;

}
/* Extra small devices (phones, 375px and down) */
@media only screen and (max-width: 375px) and (min-width:321px) {
  .home
  {
    width: 90%;
  }
  .home_text1{
    font-size: 90%;

  }
  .home_text2{
    font-size: 90%;

  }
}

/* Extra small devices (phones, 375px and down) */
@media only screen and (max-width: 375px) {
  .home
  {
    width: 90%;
    height: 500px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) and (min-width:376px) {
  .home
  {
    width: 90%;
    height: 530px;
  }
}

@media only screen and (min-width: 1500px) {
  .home{
    width: 40%;
    height: 900px;
  }
  .home_text1{
    font-size: 30px;

  }
  .home_text2{
    font-size: 25px;

  }
}
@media only screen and (min-width: 2000px) {
  .home{
    width: 40%;
    height: 1100px;
  }
  .home_text1{
    font-size: 50px;

  }
  .home_text2{
    font-size: 40px;

  }
}
@media only screen and (min-width: 2500px) {
  .home{
    width: 40%;
    height: 1300px;
  }
  .home_text1{
    font-size: 50px;

  }
  .home_text2{
    font-size: 40px;

  }
}
@media only screen
  and (min-device-width: 820px)
  and (max-device-width: 950px)
  and (-webkit-min-device-pixel-ratio: 2) {
.home{
  width: 90%;
  height: 900px;
}
.home_text1{
  font-size: 30px;

}
.home_text2{
  font-size: 20px;

}
}
